body {
    background-color: #2d3748;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.color-container {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 4px;
}